body,
html {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: yellow;
}

.my-header {
  background-color: #202020;
  display: flex;
  height: 48px;
}

#my-header {
  background-color: red;
}

/* Id has the highest specificity.
Only way to override is writing inline HTML.
Not advisable */

.my-header .logo {
  display: inline-block;
  color: #fff;
  font-weight: 800;
}

.navigation {
  display: inline-block;

  background-color: transparent;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}
.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.hero-banner {
  background-color: aqua;
  background-image: url("/img/guitar-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
}

.inner {
  width: 1080px;
  margin: 0 auto;
}

.review-our-guitars .footer {
  background-color: aqua;
}

body#home-page h1 {
  color: red;
}

body#guitar-page h1 {
  color: blue;
}

body#home-page {
  background-color: pink;
}

body#guitar-page {
  background-color: blue;
}
